/* G L O B A L S */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  font: 62.5% Helvetica, sans-serif;
  margin: 0;
  background-color: #fff;
}
a {
  color: #2677b9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* needed to center contents in IE */
html:-ms-fullscreen {
  width: 100%;
}
#main-content-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: -moz-transform 500ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: -o-transform 500ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: -ms-transform 500ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
  position: absolute;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  overflow-x: hidden;
  overflow-y: hidden;
}
#main-content-wrapper,
#pages-wrapper,
#pages,
.page-container,
.page,
.hotspot {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* end globals */
/* H E A D E R */
body[data-state="hotspot"] #header {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
body[data-state="hotspot"] #footer {
  display: none;
}
#header {
  width: 100%;
  background-color: #fff;
  padding: 7px 5px 7px 5px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  height: 39px;
}
html:-moz-full-screen #header {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  z-index: 9999;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
html:-moz-full-screen #header:before {
  background-color: #fff;
  width: 200%;
  content: ' ';
  top: 0;
  height: 100%;
  position: absolute;
  display: block;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  pointer-events: none;
  z-index: -1;
}
html:-moz-full-screen #header:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html:-moz-full-screen #desktop-drawer-container,
html:-moz-full-screen #footer {
  display: none !important;
}
html:-moz-full-screen #pages-wrapper {
  top: 5px;
  height: calc(100% - 10px);
}
html:-webkit-full-screen #header {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 9999;
}
html:-webkit-full-screen #header:before {
  background-color: #fff;
  width: 200%;
  content: ' ';
  top: 0;
  height: 100%;
  position: absolute;
  display: block;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  pointer-events: none;
  z-index: -1;
}
html:-webkit-full-screen #header:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html:-webkit-full-screen #desktop-drawer-container,
html:-webkit-full-screen #footer {
  display: none !important;
}
html:-webkit-full-screen #pages-wrapper {
  top: 5px;
  height: calc(100% - 10px);
}
html:-fullscreen #header {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 9999;
}
html:-fullscreen #header:before {
  background-color: #fff;
  width: 200%;
  content: ' ';
  top: 0;
  height: 100%;
  position: absolute;
  display: block;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  pointer-events: none;
  z-index: -1;
}
html:-fullscreen #header:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html:-fullscreen #desktop-drawer-container,
html:-fullscreen #footer {
  display: none !important;
}
html:-fullscreen #pages-wrapper {
  top: 5px;
  height: calc(100% - 10px);
}
html:-ms-fullscreen #header {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 9999;
}
html:-ms-fullscreen #header:before {
  background-color: #fff;
  width: 200%;
  content: ' ';
  top: 0;
  height: 100%;
  position: absolute;
  display: block;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  pointer-events: none;
  z-index: -1;
}
html:-ms-fullscreen #header:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html:-ms-fullscreen #desktop-drawer-container,
html:-ms-fullscreen #footer {
  display: none !important;
}
html:-ms-fullscreen #pages-wrapper {
  top: 5px;
  height: calc(100% - 10px);
}
.header-item-container {
  display: inline-block;
  height: 100%;
  position: relative;
}
.header-item-container:hover,
.header-item-container.active {
  cursor: pointer;
}
.header-item-container:hover .header-btn {
  color: #2677b9;
}
.header-item-container:hover .header-btn,
.header-item-container.active .header-btn {
  border-color: #848484;
}
.header-item-container:hover .header-text,
.header-item-container.active .header-text {
  cursor: default;
}
.header-item-container.active .header-btn {
  color: #33ae05 !important;
}
.header-item-container:active .header-btn {
  color: #1b5382;
  border-color: #4f4f4f;
}
.header-item-container.active:hover .header-btn {
  color: #226ba6;
}
.header-item {
  height: 100%;
  color: #000;
  display: inline-table;
  vertical-align: top;
}
.header-btn {
  min-width: 32px;
  border-radius: 2px;
  text-align: center;
}
.header-item-container[data-btn="export"] .header-btn {
  padding: 0 6px;
}
.header-item-container[data-btn="export"] .header-btn .label {
  position: relative;
  font-size: 13px;
  top: 6px;
}
.header-text,
.header-btn-icon {
  display: table-cell;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.header-btn-icon {
  font-size: 2.2em;
}
a .header-btn-icon {
  color: #000;
}
a .header-btn-icon:hover {
  color: #2677b9;
}
.header-group {
  float: right;
  height: 28px;
}
.header-group .header-item-container {
  padding: 0 8px;
  text-align: center;
}
.header-item .header-text {
  font-size: 1.3em;
  font-weight: 200;
}
.header-item[data-which="page-number"] .header-text input {
  width: 35px;
  text-align: right;
}
.internal-link {
  color: #2677b9;
}
.internal-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.header-group.mobile {
  display: none;
}
.btn-dropdown {
  display: none;
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%, 5px);
  -moz-transform: translate(50%, 5px);
  -o-transform: translate(50%, 5px);
  -ms-transform: translate(50%, 5px);
  transform: translate(50%, 5px);
  z-index: 10000000;
  background-color: #000;
  color: #fff;
  padding: 5px 0;
  text-align: left;
  border-radius: 2px;
  top: 100%;
}
.btn-dropdown li {
  padding: 8px;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-dropdown a {
  color: #fff;
  text-decoration: none;
}
.btn-dropdown li:hover {
  cursor: pointer;
  background-color: #2677b9;
}
.drawer-section-container[data-section="downloads"] {
  line-height: 1.7em;
}
.dropdowned[data-btn="export"] .btn-dropdown,
.dropdowned[data-btn="export"]:hover:after {
  width: 200% !important;
}
.dropdowned[data-btn="share"] li,
.dropdowned[data-btn="support"] li {
  font-size: 1.8em;
  text-align: center;
}
.header-item-container[data-btn="previous"],
.header-item-container[data-btn="next"] {
  padding: 0;
}
.dropdowned:hover .btn-dropdown {
  display: inline-block;
}
.dropdowned:hover:after {
  right: 50%;
  -webkit-transform: translate(50%, 5px);
  -moz-transform: translate(50%, 5px);
  -o-transform: translate(50%, 5px);
  -ms-transform: translate(50%, 5px);
  transform: translate(50%, 5px);
  border: 0;
  width: 100%;
  height: 10px;
  margin-right: 0;
}
.dropdowned:hover:before,
.dropdowned:hover:after,
.tooltipped:hover:before,
.tooltipped:hover:after {
  display: inline-block;
}
.tooltipped-i[data-focus="true"]:before,
.tooltipped-i[data-focus="true"]:after {
  display: inline-block;
  -webkit-animation: decay 700ms linear forwards;
  -moz-animation: decay 700ms linear forwards;
  -o-animation: decay 700ms linear forwards;
  -ms-animation: decay 700ms linear forwards;
  animation: decay 700ms linear forwards;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.dropdowned:before,
.dropdowned:after,
.tooltipped-i:before,
.tooltipped-i:after,
.tooltipped:before,
.tooltipped:after {
  position: absolute;
  display: none;
  right: 50%;
}
.tooltipped:before,
.tooltipped:after {
  pointer-events: none;
}
.dropdowned:before,
.dropdowned:after,
.tooltipped-i:before,
.tooltipped:before {
  z-index: 9998;
  width: 0;
  height: 0;
  color: rgba(0,0,0,0.8);
  content: "";
  border: 5px solid transparent;
  top: auto;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0,0,0,0.8);
}
.tooltipped-i:after,
.tooltipped:after {
  z-index: 9997;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  margin-top: 5px;
  top: 100%;
  padding: 5px 8px;
  font-size: 1.2em;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  word-wrap: break-word;
  white-space: pre;
  content: attr(aria-label);
  background: rgba(0,0,0,0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.header-item-container:hover .header-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* end header */
/* P R O G R E S S */
/* end progress */
/* N A V  B U T T O N S */
#btns {
  position: absolute;
  top: 46px;
  right: 0;
  left: 0;
  z-index: 9999;
}
.main-nav-btn-container {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  height: 99%;
  width: 50%;
}
.main-nav-btn-container.full {
  width: 100%;
}
.main-nav-btn-container[data-dir="prev"] {
  text-align: left;
}
.main-nav-btn-container[data-dir="prev"] .btn-text {
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  transform: translateX(-35%);
}
.main-nav-btn-container[data-dir="next"] {
  text-align: right;
}
.main-nav-btn-container[data-dir="next"] .btn-text {
  -webkit-transform: translateX(35%);
  -moz-transform: translateX(35%);
  -o-transform: translateX(35%);
  -ms-transform: translateX(35%);
  transform: translateX(35%);
}
.main-nav-btn-container:hover {
  cursor: pointer;
}
.main-nav-btn {
  display: inline-block;
  position: relative;
  color: #ccc;
  height: 100%;
}
.main-nav-btn {
  -webkit-transition: color 250ms ease-out;
  -moz-transition: color 250ms ease-out;
  -o-transition: color 250ms ease-out;
  -ms-transition: color 250ms ease-out;
  transition: color 250ms ease-out;
}
.main-nav-btn-container:hover .main-nav-btn {
  color: #000;
}
.btn-text {
  position: relative;
  top: 45%;
  font-size: 6em;
}
body[data-panel-zoom-mode="all-devices"] #btns,
body[data-panel-zoom-mode="desktop-hover"] #btns {
  pointer-events: none;
}
body[data-panel-zoom-mode="all-devices"] .main-nav-btn-container,
body[data-panel-zoom-mode="desktop-hover"] .main-nav-btn-container {
  width: auto;
  pointer-events: all;
}
body[data-panel-zoom-mode="all-devices"] .main-nav-btn-container[data-dir="next"],
body[data-panel-zoom-mode="desktop-hover"] .main-nav-btn-container[data-dir="next"] {
  float: right;
}
.page img,
.page .paragraph-text {
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: -moz-transform 600ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: -o-transform 600ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: -ms-transform 600ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0, 0, 0.2, 1);
}
.nav-helpers {
  position: absolute;
  top: 43.5%;
  right: 80px;
  width: 90%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 200;
  font-family: Helvetica, sans-serif;
  line-height: 15px;
  color: #969696;
  -webkit-animation: bounce-left-right 2.75s infinite;
  -moz-animation: bounce-left-right 2.75s infinite;
  -o-animation: bounce-left-right 2.75s infinite;
  -ms-animation: bounce-left-right 2.75s infinite;
  animation: bounce-left-right 2.75s infinite;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
.nav-helper-arrows {
  font-size: 1.4em;
  white-space: nowrap;
  margin: 9px 0 10px 0;
  font-family: Helvetica;
  color: #000;
}
.nav-helper-arrows span {
  padding: 1px 4px;
  border: 1px solid #ccc;
  background: -webkit-linear-gradient(270deg, #fff 0%, #e3e3e3 100%) repeat scroll 0% 0% #fff;
  background: -moz-linear-gradient(270deg, #fff 0%, #e3e3e3 100%) repeat scroll 0% 0% #fff;
  background: -o-linear-gradient(270deg, #fff 0%, #e3e3e3 100%) repeat scroll 0% 0% #fff;
  background: -ms-linear-gradient(270deg, #fff 0%, #e3e3e3 100%) repeat scroll 0% 0% #fff;
  background: linear-gradient(180deg, #fff 0%, #e3e3e3 100%) repeat scroll 0% 0% #fff;
}
.nav-helper-arrows span:first-child {
  margin-right: 2px;
}
/* end nav buttons */
body.mobile .mobile-hide {
  display: none;
}
/* S N A P P E R  D R A W E R  */
body[data-format="mobile"] {
  background-color: #5b5b5b;
}
body[data-format="mobile"] .header-item-container.active .header-btn {
  color: #000;
}
#side-drawer-container {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  color: #fff;
  background-color: #34393a;
  width: 66%;
  padding: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 10px 0px 12px -5px #000 inset;
  box-shadow: 10px 0px 12px -5px #000 inset;
}
#side-drawer-container a {
  color: #71bfff;
}
#side-drawer-container .section-title {
  margin-top: 5px;
}
#side-drawer-container .section-subtitle {
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #fff;
}
#side-drawer-container .section-subtitle span {
  color: #aaa;
  text-transform: none;
}
.social-btn {
  color: #fff;
}
#easter-egg-img {
  position: absolute;
  top: 9%;
  right: 64.5%;
  z-index: -1;
  width: 20%;
  display: none;
}
.drawer-section-container {
  margin-bottom: 20px;
}
.drawer-section-container li {
  font-size: 1.3em;
  margin-bottom: 3px;
  font-weight: 200;
}
.drawer-section-container li.endnote {
  font-size: 1.1em;
  margin-bottom: 8px;
  line-height: 1.2em;
}
.drawer-section-container .endnote-number {
  color: #969696;
}
.drawer-section-container[data-which="share"] li,
.drawer-section-container[data-which="support"] li {
  display: inline-block;
  width: 24.5%;
  font-size: 2em;
  text-align: center;
  padding: 10px 0;
}
.drawer-section-container[data-which="share"] li:hover,
.drawer-section-container[data-which="support"] li:hover {
  cursor: pointer;
}
.drawer-section-container[data-which="share"] li[data-which="twitter"],
.drawer-section-container[data-which="support"] li[data-which="twitter"] {
  background-color: #00aced;
}
.drawer-section-container[data-which="share"] li[data-which="facebook"],
.drawer-section-container[data-which="support"] li[data-which="facebook"] {
  background-color: #3c599f;
}
.drawer-section-container[data-which="share"] li[data-which="reddit"],
.drawer-section-container[data-which="support"] li[data-which="reddit"] {
  background-color: #369;
}
.drawer-section-container[data-which="share"] li[data-which="gplus"],
.drawer-section-container[data-which="support"] li[data-which="gplus"] {
  background-color: #dd4b39;
}
.drawer-section-container[data-which="share"] li[data-which="diaspora"],
.drawer-section-container[data-which="support"] li[data-which="diaspora"] {
  background-color: #333;
}
.drawer-section-container[data-which="share"] li[data-which="mastodon"],
.drawer-section-container[data-which="support"] li[data-which="mastodon"] {
  background-color: #4ea2df;
}
.drawer-section-container[data-which="share"] li[data-which="patreon"],
.drawer-section-container[data-which="support"] li[data-which="patreon"] {
  background-color: #4b4b4b;
}
.drawer-section-container[data-which="share"] li[data-which="tipeee"],
.drawer-section-container[data-which="support"] li[data-which="tipeee"] {
  background-color: #d84759;
}
.drawer-section-container[data-which="share"] li[data-which="liberapay"],
.drawer-section-container[data-which="support"] li[data-which="liberapay"] {
  background-color: #f6c915;
}
.drawer-section-container[data-which="share"] li[data-which="twitter"]:hover,
.drawer-section-container[data-which="support"] li[data-which="twitter"]:hover {
  background-color: #17bfff;
}
.drawer-section-container[data-which="share"] li[data-which="facebook"]:hover,
.drawer-section-container[data-which="support"] li[data-which="facebook"]:hover {
  background-color: #4b6cbb;
}
.drawer-section-container[data-which="share"] li[data-which="reddit"]:hover,
.drawer-section-container[data-which="support"] li[data-which="reddit"]:hover {
  background-color: #3e7dbb;
}
.drawer-section-container[data-which="share"] li[data-which="gplus"]:hover,
.drawer-section-container[data-which="support"] li[data-which="gplus"]:hover {
  background-color: #e26657;
}
.drawer-section-container[data-which="share"] li[data-which="diaspora"]:hover,
.drawer-section-container[data-which="support"] li[data-which="diaspora"]:hover {
  background-color: #525252;
}
.drawer-section-container[data-which="share"] li[data-which="mastodon"]:hover,
.drawer-section-container[data-which="support"] li[data-which="mastodon"]:hover {
  background-color: #69b0e4;
}
.drawer-section-container[data-which="share"] li[data-which="patreon"]:hover,
.drawer-section-container[data-which="support"] li[data-which="patreon"]:hover {
  background-color: #666;
}
.drawer-section-container[data-which="share"] li[data-which="tipeee"]:hover,
.drawer-section-container[data-which="support"] li[data-which="tipeee"]:hover {
  background-color: #de6372;
}
.drawer-section-container[data-which="share"] li[data-which="liberapay"]:hover,
.drawer-section-container[data-which="support"] li[data-which="liberapay"]:hover {
  background-color: #f7d138;
}
#side-drawer-handle {
  position: absolute;
  right: 0;
  top: 46px;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 999;
}
/* Common styles between desktop and mobile on drawer open */
body[data-side-drawer-open="true"] #pages-wrapper,
body[data-side-drawer-open="true"] #btns {
  pointer-events: none;
}
body[data-side-drawer-open="false"][data-side-drawer-state="changing"] #side-drawer-handle,
body[data-side-drawer-open="true"] #side-drawer-handle {
  display: block;
}
/* Mobile */
body[data-side-drawer-open="false"][data-side-drawer-state="stable"] #side-drawer-container {
  display: none;
}
body[data-format="mobile"][data-side-drawer-open="true"] #main-content-wrapper {
  -webkit-transform: translateX(-66%);
  -moz-transform: translateX(-66%);
  -o-transform: translateX(-66%);
  -ms-transform: translateX(-66%);
  transform: translateX(-66%);
}
/* end mobile */
/* Desktop */
body[data-format="single"][data-side-drawer-open="true"] #desktop-drawer-container,
body[data-format="double"][data-side-drawer-open="true"] #desktop-drawer-container {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  right: 0px;
}
/* end desktop */
/* end snapper drawer */
/* M O D A L */
.endnote-number {
  vertical-align: super;
  font-size: smaller;
  padding-right: 5px;
}
#desktop-drawer-container {
  position: absolute;
  width: 33%;
  right: -15px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 16px;
  top: 35px;
  background-color: #fff;
  z-index: 9999;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0, 0, 0.2, 1), right 100ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: -moz-transform 500ms cubic-bezier(0, 0, 0.2, 1), right 100ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: -o-transform 500ms cubic-bezier(0, 0, 0.2, 1), right 100ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: -ms-transform 500ms cubic-bezier(0, 0, 0.2, 1), right 100ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1), right 100ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-box-shadow: -3px 15px 19px -7px #000;
  box-shadow: -3px 15px 19px -7px #000;
}
#desktop-drawer-container .section-title {
  margin-bottom: 8px;
}
#desktop-drawer-container .section-title span {
  font-weight: normal;
  font-size: 12px;
}
#desktop-drawer-container .section-title .section-title-close {
  float: right;
  color: #999;
}
#desktop-drawer-container .section-title .section-title-close:hover {
  cursor: pointer;
  color: #666;
}
#desktop-drawer-container .endnote {
  font-size: 1.2em;
  margin-bottom: 8px;
  line-height: 1.3em;
}
.section-title {
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 1px solid #646464;
  margin-bottom: 5px;
  padding-bottom: 3px;
}
/* end modal */
/* P A G E S */
#pages-wrapper,
#pages {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#pages-wrapper {
  height: calc(100% - 46px);
}
#pages {
  height: 100%;
}
body[data-state="page-change"] #pages-wrapper {
  overflow: hidden;
}
.page-container {
  left: 0;
  visibility: hidden;
}
.page-container,
.page,
.page-mask,
.hover-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page-mask,
.hover-mask {
  overflow: hidden;
}
.page {
  position: relative;
}
body[data-format="double"][data-bookend="true"] .hover-mask {
  -webkit-transform: translateX(50%) translate3d(0, 0, 0);
  -moz-transform: translateX(50%) translate3d(0, 0, 0);
  -o-transform: translateX(50%) translate3d(0, 0, 0);
  -ms-transform: translateX(50%) translate3d(0, 0, 0);
  transform: translateX(50%) translate3d(0, 0, 0);
}
.page-container.viewing {
  visibility: visible;
  z-index: 99;
}
.page img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.paragraph-text {
  position: absolute;
  text-align: left;
  font-size: 1.5em;
  z-index: 9999;
  padding: 20px;
  line-height: 1.5em;
}
.paragraph-text p {
  margin-bottom: 10px;
}
.page[data-iszoom="false"]:hover {
  cursor: default !important;
}
.page[data-iszoom="true"]:hover {
  cursor: move;
}
/* end pages */
/*  P A G E  F O R M A T T I N G  */
body[data-format="double"][data-bookend="false"] #pages {
  max-width: 2048px;
  position: relative;
  left: -1px;
}
body[data-format="double"][data-bookend="false"] .page-container.viewing {
  width: 50%;
}
body[data-format="double"] .page-container.viewing.right-page {
  left: 50%;
  padding-left: 2px;
}
body[data-format="double"] .page-container.viewing.right-page:after {
  content: "";
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  top: 0;
  left: 0;
  bottom: 3px;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url("../imgs/assets/border.png") repeat-y 1px top #fff;
}
body[data-format="double"] .page-container.viewing.right-page.no-gutter-border:after {
  background: #fff;
}
body[data-format="mobile"] #btns {
  visibility: hidden;
}
/* MOZ Specific hacks */
@-moz-document url-prefix() {
  body[data-format="double"][data-bookend="false"] .page-container.viewing.right-page {
    left: calc(50% - 1px);
  }
}
/* end page formatting */
/* T R A N S I T I O N S */
/* Single */
body[data-state="page-change"][data-format="double"] .hover-mask {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
body[data-state="page-change"][data-bookend="true"] .page-container.enter-from-left .hover-mask {
  -webkit-transform: translateX(50%) translate3d(0, 0, 0) !important;
  -moz-transform: translateX(50%) translate3d(0, 0, 0) !important;
  -o-transform: translateX(50%) translate3d(0, 0, 0) !important;
  -ms-transform: translateX(50%) translate3d(0, 0, 0) !important;
  transform: translateX(50%) translate3d(0, 0, 0) !important;
}
.page-container.exit-to-left {
  -webkit-animation: exit-to-left 450ms linear;
  -moz-animation: exit-to-left 450ms linear;
  -o-animation: exit-to-left 450ms linear;
  -ms-animation: exit-to-left 450ms linear;
  animation: exit-to-left 450ms linear;
}
.page-container.enter-from-left {
  -webkit-animation: enter-from-left 450ms linear;
  -moz-animation: enter-from-left 450ms linear;
  -o-animation: enter-from-left 450ms linear;
  -ms-animation: enter-from-left 450ms linear;
  animation: enter-from-left 450ms linear;
}
.page-container.exit-to-right {
  -webkit-animation: exit-to-right 450ms linear;
  -moz-animation: exit-to-right 450ms linear;
  -o-animation: exit-to-right 450ms linear;
  -ms-animation: exit-to-right 450ms linear;
  animation: exit-to-right 450ms linear;
}
.page-container.enter-from-right {
  -webkit-animation: enter-from-right 450ms linear;
  -moz-animation: enter-from-right 450ms linear;
  -o-animation: enter-from-right 450ms linear;
  -ms-animation: enter-from-right 450ms linear;
  animation: enter-from-right 450ms linear;
}
/* end single */
/* Double left  */
body[data-format="double"][data-bookend="false"] .page-container.exit-to-left {
  -webkit-animation: double-left-exit-to-left 450ms linear;
  -moz-animation: double-left-exit-to-left 450ms linear;
  -o-animation: double-left-exit-to-left 450ms linear;
  -ms-animation: double-left-exit-to-left 450ms linear;
  animation: double-left-exit-to-left 450ms linear;
}
body[data-format="double"][data-bookend="false"] .page-container.enter-from-left {
  -webkit-animation: double-left-enter-from-left 450ms linear;
  -moz-animation: double-left-enter-from-left 450ms linear;
  -o-animation: double-left-enter-from-left 450ms linear;
  -ms-animation: double-left-enter-from-left 450ms linear;
  animation: double-left-enter-from-left 450ms linear;
}
body[data-format="double"][data-bookend="false"] .page-container.exit-to-right {
  -webkit-animation: double-left-exit-to-right 450ms linear;
  -moz-animation: double-left-exit-to-right 450ms linear;
  -o-animation: double-left-exit-to-right 450ms linear;
  -ms-animation: double-left-exit-to-right 450ms linear;
  animation: double-left-exit-to-right 450ms linear;
}
body[data-format="double"][data-bookend="false"] .page-container.enter-from-right {
  -webkit-animation: double-left-enter-from-right 450ms linear;
  -moz-animation: double-left-enter-from-right 450ms linear;
  -o-animation: double-left-enter-from-right 450ms linear;
  -ms-animation: double-left-enter-from-right 450ms linear;
  animation: double-left-enter-from-right 450ms linear;
  width: 50%;
}
/* D O U B L E  R I G H T  */
body[data-format="double"][data-bookend="false"] .page-container.right-page.exit-to-left {
  -webkit-animation: double-right-exit-to-left 450ms linear;
  -moz-animation: double-right-exit-to-left 450ms linear;
  -o-animation: double-right-exit-to-left 450ms linear;
  -ms-animation: double-right-exit-to-left 450ms linear;
  animation: double-right-exit-to-left 450ms linear;
}
body[data-format="double"][data-bookend="false"] .page-container.right-page.enter-from-left {
  -webkit-animation: double-right-enter-from-left 450ms linear;
  -moz-animation: double-right-enter-from-left 450ms linear;
  -o-animation: double-right-enter-from-left 450ms linear;
  -ms-animation: double-right-enter-from-left 450ms linear;
  animation: double-right-enter-from-left 450ms linear;
}
body[data-format="double"][data-bookend="false"] .page-container.right-page.exit-to-right {
  -webkit-animation: double-right-exit-to-right 450ms linear;
  -moz-animation: double-right-exit-to-right 450ms linear;
  -o-animation: double-right-exit-to-right 450ms linear;
  -ms-animation: double-right-exit-to-right 450ms linear;
  animation: double-right-exit-to-right 450ms linear;
}
body[data-format="double"][data-bookend="false"] .page-container.right-page.enter-from-right {
  -webkit-animation: double-right-enter-from-right 450ms linear;
  -moz-animation: double-right-enter-from-right 450ms linear;
  -o-animation: double-right-enter-from-right 450ms linear;
  -ms-animation: double-right-enter-from-right 450ms linear;
  animation: double-right-enter-from-right 450ms linear;
}
/* end double left */
/* Double center  */
body[data-format="double"][data-bookend="false"] .page-container.center-page.exit-to-left {
  -webkit-animation: double-center-exit-to-left 450ms linear;
  -moz-animation: double-center-exit-to-left 450ms linear;
  -o-animation: double-center-exit-to-left 450ms linear;
  -ms-animation: double-center-exit-to-left 450ms linear;
  animation: double-center-exit-to-left 450ms linear;
}
body[data-format="double"][data-bookend="true"] .page-container.enter-from-left {
  -webkit-animation: double-center-enter-from-left 450ms linear;
  -moz-animation: double-center-enter-from-left 450ms linear;
  -o-animation: double-center-enter-from-left 450ms linear;
  -ms-animation: double-center-enter-from-left 450ms linear;
  animation: double-center-enter-from-left 450ms linear;
}
body[data-format="double"][data-bookend="true"] .page-container.exit-to-right {
  -webkit-animation: double-left-exit-to-right 450ms linear;
  -moz-animation: double-left-exit-to-right 450ms linear;
  -o-animation: double-left-exit-to-right 450ms linear;
  -ms-animation: double-left-exit-to-right 450ms linear;
  animation: double-left-exit-to-right 450ms linear;
  width: 50%;
}
body[data-format="double"][data-bookend="true"] .page-container.exit-to-right.right-page {
  -webkit-animation: double-right-exit-to-right 450ms linear;
  -moz-animation: double-right-exit-to-right 450ms linear;
  -o-animation: double-right-exit-to-right 450ms linear;
  -ms-animation: double-right-exit-to-right 450ms linear;
  animation: double-right-exit-to-right 450ms linear;
}
/* end double center */
/* end transitions */
/* H O T S P O T S */
.hotspot {
  position: absolute;
  z-index: 9;
}
/* end hotspots */
/* M A S K S */
.mask {
  position: absolute;
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.mask[data-orientation="horizontal"] {
  height: 0;
  left: 0;
  right: 0;
}
.mask[data-orientation="vertical"] {
  width: 0;
  top: 0;
  bottom: 0;
}
#top-mask {
  top: 0;
}
#bottom-mask {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 1);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 1);
  -o-transform: rotateX(180deg) translate3d(0, 0, 1);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 1);
  transform: rotateX(180deg) translate3d(0, 0, 1);
  bottom: -1px /* To cover up some small clipping that occurs */;
}
#left-mask {
  left: 0;
}
#right-mask {
  right: 0;
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 1);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 1);
  -o-transform: rotateX(180deg) translate3d(0, 0, 1);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 1);
  transform: rotateX(180deg) translate3d(0, 0, 1);
}
/* end masks */
/* M E D I A  Q U E R I E S */
@media (max-width: 1024px) {
  #pages-wrapper {
    height: calc(100% - 60px);
  }
}
body[data-format="mobile"] #easter-egg-img {
  display: block;
}
body[data-format="mobile"] .header-group.desktop {
  display: none;
}
body[data-format="mobile"] .header-group.mobile {
  display: block;
}
body[data-format="mobile"] .header-group.mobile .header-btn {
  border: none;
}
body[data-format="mobile"] #side-drawer-handle,
body[data-format="mobile"] #desktop-drawer-container {
  top: 30.666666666666668px;
}
body[data-format="mobile"] #header {
  padding: 3px;
  margin-bottom: 8px;
  height: 30.666666666666668px;
}
body[data-format="mobile"] #btns {
  top: auto;
}
body[data-format="mobile"] #pages-wrapper {
  height: 100%;
}
body[data-format="mobile"] #pages {
  width: 100%;
}
body[data-format="mobile"] .header-group .header-item-container {
  padding: 0 4px 0 0;
}
body[data-format="mobile"] .tooltipped-i[data-focus="true"]:before,
body[data-format="mobile"] .tooltipped-i[data-focus="true"]:after {
  display: none;
}
body[data-format="mobile"] .header-item .header-text {
  position: relative;
  top: 3px;
}
body[data-format="mobile"] .header-item[data-which="pub-date"] .header-text {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}
body[data-format="mobile"] .header-item[data-which="page-number"] .header-text input {
  width: 25px;
}
body[data-format="mobile"] .nav-helpers {
  display: none;
}
/* end media queries */
@-moz-keyframes decay {
  from {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes decay {
  from {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes decay {
  from {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes decay {
  from {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounce-left-right {
  0% {
    right: 80px;
  }
  50% {
    right: 64px;
  }
  100% {
    right: 80px;
  }
}
@-webkit-keyframes bounce-left-right {
  0% {
    right: 80px;
  }
  50% {
    right: 64px;
  }
  100% {
    right: 80px;
  }
}
@-o-keyframes bounce-left-right {
  0% {
    right: 80px;
  }
  50% {
    right: 64px;
  }
  100% {
    right: 80px;
  }
}
@keyframes bounce-left-right {
  0% {
    right: 80px;
  }
  50% {
    right: 64px;
  }
  100% {
    right: 80px;
  }
}
@-moz-keyframes wrapper-slide-to-left {
  from {
    left: 0;
  }
  to {
    left: -66%;
  }
}
@-webkit-keyframes wrapper-slide-to-left {
  from {
    left: 0;
  }
  to {
    left: -66%;
  }
}
@-o-keyframes wrapper-slide-to-left {
  from {
    left: 0;
  }
  to {
    left: -66%;
  }
}
@keyframes wrapper-slide-to-left {
  from {
    left: 0;
  }
  to {
    left: -66%;
  }
}
@-moz-keyframes exit-to-left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes exit-to-left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-o-keyframes exit-to-left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes exit-to-left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-moz-keyframes exit-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes exit-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-o-keyframes exit-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes exit-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-moz-keyframes enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-o-keyframes enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes enter-from-right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes enter-from-right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-o-keyframes enter-from-right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes enter-from-right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes double-left-exit-to-left {
  from {
    left: 0;
  }
  to {
    left: calc(-100% - 2px);
  }
}
@-webkit-keyframes double-left-exit-to-left {
  from {
    left: 0;
  }
  to {
    left: calc(-100% - 2px);
  }
}
@-o-keyframes double-left-exit-to-left {
  from {
    left: 0;
  }
  to {
    left: calc(-100% - 2px);
  }
}
@keyframes double-left-exit-to-left {
  from {
    left: 0;
  }
  to {
    left: calc(-100% - 2px);
  }
}
@-moz-keyframes double-left-exit-to-right {
  from {
    left: 0;
  }
  to {
    left: calc(100% + 2px);
  }
}
@-webkit-keyframes double-left-exit-to-right {
  from {
    left: 0;
  }
  to {
    left: calc(100% + 2px);
  }
}
@-o-keyframes double-left-exit-to-right {
  from {
    left: 0;
  }
  to {
    left: calc(100% + 2px);
  }
}
@keyframes double-left-exit-to-right {
  from {
    left: 0;
  }
  to {
    left: calc(100% + 2px);
  }
}
@-moz-keyframes double-left-enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes double-left-enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-o-keyframes double-left-enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes double-left-enter-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes double-left-enter-from-right {
  from {
    left: calc(100% + 2px);
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes double-left-enter-from-right {
  from {
    left: calc(100% + 2px);
  }
  to {
    left: 0;
  }
}
@-o-keyframes double-left-enter-from-right {
  from {
    left: calc(100% + 2px);
  }
  to {
    left: 0;
  }
}
@keyframes double-left-enter-from-right {
  from {
    left: calc(100% + 2px);
  }
  to {
    left: 0;
  }
}
@-moz-keyframes double-right-exit-to-left {
  from {
    left: 50%;
  }
  to {
    left: calc(-50% - 2px);
  }
}
@-webkit-keyframes double-right-exit-to-left {
  from {
    left: 50%;
  }
  to {
    left: calc(-50% - 2px);
  }
}
@-o-keyframes double-right-exit-to-left {
  from {
    left: 50%;
  }
  to {
    left: calc(-50% - 2px);
  }
}
@keyframes double-right-exit-to-left {
  from {
    left: 50%;
  }
  to {
    left: calc(-50% - 2px);
  }
}
@-moz-keyframes double-right-exit-to-right {
  from {
    left: 50%;
  }
  to {
    left: calc(150% + 2px);
  }
}
@-webkit-keyframes double-right-exit-to-right {
  from {
    left: 50%;
  }
  to {
    left: calc(150% + 2px);
  }
}
@-o-keyframes double-right-exit-to-right {
  from {
    left: 50%;
  }
  to {
    left: calc(150% + 2px);
  }
}
@keyframes double-right-exit-to-right {
  from {
    left: 50%;
  }
  to {
    left: calc(150% + 2px);
  }
}
@-moz-keyframes double-right-enter-from-left {
  from {
    left: calc(-50% - 2px);
  }
  to {
    left: 50%;
  }
}
@-webkit-keyframes double-right-enter-from-left {
  from {
    left: calc(-50% - 2px);
  }
  to {
    left: 50%;
  }
}
@-o-keyframes double-right-enter-from-left {
  from {
    left: calc(-50% - 2px);
  }
  to {
    left: 50%;
  }
}
@keyframes double-right-enter-from-left {
  from {
    left: calc(-50% - 2px);
  }
  to {
    left: 50%;
  }
}
@-moz-keyframes double-right-enter-from-right {
  from {
    left: 150%;
  }
  to {
    left: 50%;
  }
}
@-webkit-keyframes double-right-enter-from-right {
  from {
    left: 150%;
  }
  to {
    left: 50%;
  }
}
@-o-keyframes double-right-enter-from-right {
  from {
    left: 150%;
  }
  to {
    left: 50%;
  }
}
@keyframes double-right-enter-from-right {
  from {
    left: 150%;
  }
  to {
    left: 50%;
  }
}
@-moz-keyframes double-center-exit-to-left {
  from {
    left: 25%;
  }
  to {
    left: -50%;
  }
}
@-webkit-keyframes double-center-exit-to-left {
  from {
    left: 25%;
  }
  to {
    left: -50%;
  }
}
@-o-keyframes double-center-exit-to-left {
  from {
    left: 25%;
  }
  to {
    left: -50%;
  }
}
@keyframes double-center-exit-to-left {
  from {
    left: 25%;
  }
  to {
    left: -50%;
  }
}
@-moz-keyframes double-center-enter-from-left {
  from {
    left: -75%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes double-center-enter-from-left {
  from {
    left: -75%;
  }
  to {
    left: 0%;
  }
}
@-o-keyframes double-center-enter-from-left {
  from {
    left: -75%;
  }
  to {
    left: 0%;
  }
}
@keyframes double-center-enter-from-left {
  from {
    left: -75%;
  }
  to {
    left: 0%;
  }
}
@-moz-keyframes dropdown {
  from {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes dropdown {
  from {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-o-keyframes dropdown {
  from {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes dropdown {
  from {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
